body{background-color: white; margin: 0;}

header{height: 120px; user-select: none;}

.container{
  height: 70px;
  display: flex;
  align-items: center;
}
.title{
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  font-family: "optima",sans-serif;
}
.title > h1{
  font-weight: normal;
  font-size: 20px;
  margin-top: 50px;
  color: black;
}

.subtitle{
  background-color: black;
  height: 80px;
  margin-bottom: 60px;
  display: flex;
  position: relative;
  font-family: "optima",sans-serif;
  font-style: italic;
  color: white;
  user-select: none;
}
#g_square{
  background: linear-gradient(to left,rgb(0,150,0) 20%,rgb(255,255,0));
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  left: 20px;
}
#G{
  position: absolute;
  top: 40px;
  left: 50px;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
#ame{
  position: absolute;
  top: 44px;
  left: 73px;
  font-size: 20px;
  font-weight: bolder;
}
.subtitle h1,h2{
  position:absolute;
  top: 36px;
  left: 125px;
  font-family: sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 14px;
}
.subtitle h2{position:absolute;left: 238px;}

.genre {
  font-family: "optima",sans-serif;
  font-size: 20px;
  width: 300px; height: 30px;
  margin-left: auto; margin-right: auto; margin-top: 30px; margin-bottom: 30px;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  font-family: "optima",sans-serif;
}

.thumbnail {
  position: relative;
  width: 340px;
  height: 200px;
  margin-bottom: 30px;
}
.blank{width: 340px;}

.title_HL {
  width: 0; height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: rgb(0,150,0) transparent transparent transparent;
  position: absolute;
}

.outer{
  position: relative;
  width: 180px;
  height: 200px;
  letter-spacing: .03em;
}
.black{
  position: absolute; left: 30px; top:10px;
  margin: 0;
  color:white; z-index:2; white-space: nowrap;
  font-weight: bolder; font-size: 19px;
}
#long_ja{top:8px; font-size: 17px;}

.white_g2 {position:relative; width:180px; height:200px; overflow:hidden;}
.white_g1 {position:relative; width:180px; height:200px; overflow:hidden;}
.white_g0 {position:relative; width:180px; height:200px; overflow:hidden;}

.white_g2::after{
  position:absolute; left: 30px; top:10px;
  content:"Yes or ...?";
  font-weight: bolder; font-size: 19px;
  white-space: pre; color:black; z-index: 2;
}
.white_g1::after{
  position:absolute; left: 30px; top:10px;
  content:"Eyes Wide Open";
  font-weight: bolder; font-size: 19px;
  white-space: pre; color:black; z-index: 2;
}
.white_g0::after{
  position:absolute; left: 30px; top:10px;
  content:"One More Time";
  font-weight: bolder; font-size: 19px;
  white-space: pre; color:black; z-index: 2;
}

.line_b {
  position: absolute; left: 30px; top:32px;
  width:150px; height:2px;
  background-color: rgb(0,150,0);}
.line_w {
  position: absolute; left: 180px; top:32px;
  width:160px; height:2px; z-index: 3;
  background-color: white;}
.content_HL {
  width: 160px; height: 160px;
  background-color: rgb(0,150,0);
  position: absolute; left: 180px; top:0px;
}

.date{position: absolute; top: 192px; right: 0;}
.thumbnail>a{
  position: absolute; top: 63px; z-index: 2; height:126px;
  border-style:solid; border-width: 1px; border-color: rgb(0,150,0);}
.thumbnail>img {
  position: absolute; top: 63px; z-index: 2;
}
.thumbnail input{
  position: absolute; top: 63px; z-index: 2;
  border-style:solid; border-width: 1px; border-color: rgb(0,150,0);}
.thumbnail>a:hover{transform: scale(1.05, 1.05); cursor: pointer;}
.thumbnail>input:hover{transform: scale(1.05, 1.05); cursor: pointer;}

.difficulty{
  position: absolute;
  left: 208px; top: 40px;
  color: white; font-size: 12px;
}
#box_t {position: absolute; left: 234px; top: 90px;}
#check_t {position: absolute; left: 238px; top: 90px;}
#box_n {position: absolute; left: 234px; top: 120px;}
#check_n {position: absolute; left: 238px; top: 120px;}
#motif_t {
  position: absolute; left: 265px; top: 90px;
  color: white;}
#motif_n {
  position: absolute; left: 265px; top: 120px;
  color: white;}

footer {
  width: 200px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  font-family: "optima",sans-serif;
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
  position: relative;
  user-select: none;}
footer p{
  position: absolute;
  left: 12px;
}
footer a{
  position: absolute;
  left: 87px; top: 36px;
  text-decoration: none;
  color: black}

@media only screen and (max-width: 767px){
  .subtitle {margin-bottom: 40px;}
  .subtitle h1{top: 20px;}
  .subtitle h2{left: 160px;}
  footer{font-size: 13px; margin-top: 30px;}
  footer p{left:30px;}
  footer a{left:90px;}
}
